<!DOCTYPE html> 
<html lang="cn"> 
<head>
	<meta charset="UTF-8">
	<title>作业列表</title>
	<script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
	<link href="{{url_for('static', filename='mystyle.css')}}" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
	$(function(){
		$(".upload_button").click(function(){
			console.log('upload button is clicked.');
			console.log($(this).prev());
			$(this).prev().click();
		})
		$(".file").change(function(){
			console.log('upload file changed.');
			var fileSize =  this.files[0].size;
			var filename = this.files[0].name;
			console.log('name='+filename+', fileSize='+fileSize);
			if(fileSize > 1024 * 1024){
				alert('上传文件不得超过1MB');
				return;
			}
			var tmp = filename.split(".");
			var ext = tmp[tmp.length - 1].toLowerCase();
			// var ext_list = ['cpp','c','h','hpp','rar','zip','doc','docx','pdf','txt','tsv','png','jpg','bmp'];
			console.log($(this)[0]);
			var  allow_ext_list = $(this)[0].getAttribute('allow_ext_list').split(',');
			var ext_exist = false;
			allow_ext_list.forEach(e => { if(e == ext) ext_exist = true; });
			if(ext_exist==false){
				alert('上传文件拓展名需要在以下范围('+allow_ext_list.join(',')+')');
				return;
			}
			console.log($(this).parent());
			$(this).parent().submit();
		})
		var msg = $("#msg")[0].value;
		if(msg != "")
			alert(msg);
		console.log(msg);
	})
	</script>
</head>
<body>
	<input type="hidden" id="msg" value="{{msg}}"></input>
	<div class="title">
		Welcome, {{user.name}}
		({{user.id}}).
		<span style="float: right; font-size: 0.8rem; padding-top: 20px; padding-right: 15px;">
			<a href="{{ url_for('logout') }}">安全注销</a>
		</span>
		<span style="float: right; font-size: 0.8rem; padding-top: 20px; padding-right: 15px;">
			<a href="{{ url_for('modify_pwd') }}">修改密码</a>
		</span>
	</div>

	<table class="table" border="1" cellspacing="0" cellpadding="0">
		<tr class="table_title" style="height: 40px; background-color: white;">
			<td style="width: 25px;">序号</td>
			<td style="width: 100px;">截止时间</td>
			<td style="width: 180px">作业名称</td>
			<td>作业内容</td>
			<td style="width: 200px;">评分 / 评语</td>
			<td style="width: 10%">操作</td>
		</tr>
		{% for hs in hss %}
		<tr style="background-color: {{'lightgrey' if hs.timestamp >= 0 and now_timestamp > hs.timestamp else ('lightgoldenrodyellow' if hs.timestamp >= 0 and now_timestamp + 7*24*3600 > hs.timestamp else 'inherit')}};">
			<!-- 序号 -->
			<td class="tabel_cell">{{loop.index}}</td>
			<!-- 截止时间 -->
			<td class="tabel_cell">{{hs.time}}</td>
			<!-- 作业名称 -->
			<td class="tabel_cell">{{hs.name}}</td>
			<!-- 作业内容 -->
			<td class="tabel_cell" style="text-align: left; height: {{14+20*(hs.description_list | length)}}px;">
				{% for desc in hs.description_list %}
				<div>{{ desc }}</div>
				{% endfor %}
			</td>
			<!-- 评分 / 评语 -->
			{% if hs.score == "" %}
				<td class="tabel_cell">
					未评分
				</td>
			{% else %}
				<td class="tabel_cell" style="background-color: lightgoldenrodyellow;">
					{{hs.score}}分
					{% if hs.comment != "" %}
						<br />
						{{hs.comment}}
					{% endif %}
				</td>
			{% endif %}
			<!-- 操作 -->
			<td class="tabel_cell">
			{% if hs.timestamp >= 0 and now_timestamp > hs.timestamp %}
				{% if hs.statu == "未提交" or hs.statu == "" %}
				<form id="upload_form" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data"
				class="button">
					<input name="homework_id" type="hidden" value="{{hs.id}}"/>
					<span style="color: red;">
						未提交
					</span>
					<input style="display: none;" name="file" type="file" class="file"
					allow_ext_list="{{hs.allow_ext_list}}"/>
					<a class="upload_button" style="width: 36px;" href="#">
					补交
					</a>
				</form>
				{% else %}
				<form action="{{ url_for('download') }}" method="post"
				class="button">
					<input name="homework_id" type="hidden" value="{{hs.id}}"/>
					{% if hs.statu == "已补交" %}
					<span style="color: darkred;">
						已补交
					</span>
					{% endif %}
					<button type="submit" style="width: 36px;">
						下载
					</button>
				</form>
				{% endif %}
			{% elif hs.statu == "未提交" or hs.statu == "" %}
			<form id="upload_form" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data"
			class="button">
				<input name="homework_id" type="hidden" value="{{hs.id}}"/>
				<input style="display: none;" name="file" type="file" class="file"
				allow_ext_list="{{hs.allow_ext_list}}"/>
				<a class="upload_button" style="width: 36px;" href="#">
					上传
				</a>
			</form>
			{% else %} {# if hs.statu == "已提交" or hs.statu == "已补交" #}
			<form action="{{ url_for('download') }}" method="post"
			class="button" style="display:inline;">
				<input name="homework_id" type="hidden" value="{{hs.id}}"/>
				{% if hs.statu == "已补交" %}
				<span style="color: darkred;">
					已补交
				</span>
				{% endif %}
				<button type="submit" style="width: 36px;" >
					下载
				</button>
			</form>
			<form id="upload_form" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data"
			class="button" style="display:inline;">
				<input name="homework_id" type="hidden" value="{{hs.id}}"/>
				<input style="display: none;" name="file" type="file" class="file"
				allow_ext_list="{{hs.allow_ext_list}}"/>
				<a class="upload_button" style="width: 36px;" href="#">
					替换
				</a>
			</form>
			{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html> 