<!DOCTYPE html> 
<html lang="cn"> 
<head>
	<meta charset="UTF-8">
	<title>作业列表</title>
	<script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
	<link href="{{url_for('static', filename='mystyle.css')}}" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
	$(function(){
		$(".upload_button").click(function(){
			console.log('upload button is clicked.')
			console.log($(this).prev());
			$(this).prev().click();
		})
		$(".file").change(function(){
			console.log('upload file changed.')
			console.log($(this).parent());
			$(this).parent().submit();
		})
		var msg = $("#msg")[0].value;
		if(msg != "")
			alert(msg);
		console.log(msg);
	})
	</script>
</head>
<body class="table">
	<input type="hidden" id="msg" value="{{msg}}"></input>
	<div class="title">
		Welcome, {{user.name}}
		({{user.id}}).
		<span style="float: right; font-size: 0.8rem; padding-top: 20px; padding-right: 15px;">
			<a href="{{ url_for('logout') }}">安全注销</a>
		</span>
		<span style="float: right; font-size: 0.8rem; padding-top: 20px; padding-right: 15px;">
			<a href="{{ url_for('modify_pwd') }}">修改密码</a>
		</span>
	</div>

	<table class="table" border="1" cellspacing="0" cellpadding="0">
		<tr class="table_title">
			<td style="width: 25px;">序号</td>
			<td style="width: 30px;">截止时间</td>
			<td style="width: 30%">作业名称</td>
			<td>作业内容</td>
			<td style="width: 10%">操作</td>
		</tr>
		{% for hs in hss %}
		<tr style="background-color: {{'lightgrey' if now_timestamp > hs.timestamp else 'inherit'}};">
			<td class="tabel_cell" style="width: 20px;">{{loop.index}}</td>
			<td class="tabel_cell" style="width: 20px;">{{hs.time}}</td>
			<td class="tabel_cell" style="width: 30%;">{{hs.name}}</td>
			<td class="tabel_cell" style=
			"text-align: left; height: {{14+18*(hs.description_list | length)}}px;">
				{% for desc in hs.description_list %}
				<div>{{ desc }}</div>
				{% endfor %}
			</td>
			<td class="tabel_cell" style="width: 10%;">
			{% if now_timestamp > hs.timestamp %}
				{% if hs.statu == "未提交" or hs.statu == "" %}
				<form id="upload_form" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data"
				class="button">
					<input name="homework_id" type="hidden" value="{{hs.id}}"/>
					<span style="color: red;">
						未提交
					</span>
					<input style="display: none;" name="file" type="file" class="file" />
					<a class="upload_button" style="width: 36px;" href="#">
					补交
					</a>
				</form>
				{% else %}
				<form action="{{ url_for('download') }}" method="post"
				class="button">
					<input name="homework_id" type="hidden" value="{{hs.id}}"/>
					{% if hs.statu == "已补交" %}
					<span style="color: darkred;">
						已补交
					</span>
					{% endif %}
					<button type="submit" style="width: 36px;">
						下载
					</button>
				</form>
				{% endif %}
			{% elif hs.statu == "未提交" or hs.statu == "" %}
			<form id="upload_form" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data"
			class="button">
				<input name="homework_id" type="hidden" value="{{hs.id}}"/>
				<input style="display: none;" name="file" type="file" class="file" />
				<a class="upload_button" style="width: 36px;" href="#">
					上传
				</a>
			</form>
			{% else %} {# if hs.statu == "已提交" or hs.statu == "已补交" #}
			<form action="{{ url_for('download') }}" method="post"
			class="button" style="display:inline;">
				<input name="homework_id" type="hidden" value="{{hs.id}}"/>
				{% if hs.statu == "已补交" %}
				<span style="color: darkred;">
					已补交
				</span>
				{% endif %}
				<button type="submit" style="width: 36px;" >
					下载
				</button>
			</form>  
			<form id="upload_form" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data"
			class="button" style="display:inline;">
				<input name="homework_id" type="hidden" value="{{hs.id}}"/>
				<input style="display: none;" name="file" type="file" class="file" />
				<a class="upload_button" style="width: 36px;" href="#">
					替换
				</a>
			</form>
			{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html> 